<div style = "display:flex; justify-content: space-between">
  <section style = "width:100%; padding: 1rem;">
    <h2>Create A New Post</h2>

    <form class="form new-post">
      <div class="form-group">
        <label for="post-title">Title:</label>
        <input class="form-input" type="text" id="post-title"/>
      </div>
      <div class="form-group">
        <input class="form-input" type="text" id="post-content" style = "height: 4rem;" />
      </div>
      <div style = "display:flex; justify-content: space-between">
        <div class="form-group">
          <button class="btn btn-primary" type="submit" id = "submit-button">submit</button>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit" id = "cancel-button">cancel</button>
        </div>
      </div>
    </form>
  </section>
</div>



<script src="/js/newPost.js"></script>
